<div class="container">
  <h1 class="center-align">HEY IT'S CODENAMES!</h1>

  <p>
    So, this is a thing I made! It's a work in progress, but you can play it. Basically, this is a version of the game designed to play with a single group of people, over Skype, and with the upmost benevolence of its players :D Here's some stuff to know about playing this:
  </p>

  <ul class="text-list">
    <li>This game does <b>NOT currently track turns</b>, it's totally up to y'all to keep track of that yourselves</li>
    <li><b>Anyone can click</b> on and reveal any card at any time, so if you're not supposed to, just, you know... don't do that?</li>
    <li>Currently, there's no way to delete a user from the system - "signing out" will remove you from the game, but sometimes extra users will just kind of accumulate. If this gets annoying, Christina can delete them from the database manually... because that's the level of polished this app is at right now, haha</li>
  </ul>

  <p>
    So, what to do if you find stuff that isn't working or that you want changed?? Well, there's a handy <a href="https://docs.google.com/document/d/1m9lP9X3AdselFKLwcF_HG8CMZge3nVsVXT66h16L7A0/edit" target="_blank">Google doc</a> where it would be super wonderful for you to put any problems you find/thoughts you have/etc. <3
  </p>

  <p>Enjoy!!! </p>
</div>
