<div class="container">
  <h1 class="center-align">Welcome to Codenames!</h1>

  <p>Codenames is an awesome <a href="https://boardgamegeek.com/boardgame/178900/codenames" target="_blank">tabletop word-guessing game</a>, and this is an app where you can gather a far-flung group of friends to play online!</p>

  <h5>What is Codenames?</h5>

  <p>In the game of Codenames, a board of 25 words is laid out. Secretly, each word belongs to either the red team, the blue team, or no team at all. There's also one "assassin card", which should be avoided at all costs!</p>

  <p>Each team has some "Hinters", and some "Guessers". The Hinters are able to see <b>all</b> information about which card belongs to which team. The Guessers, on the other hand, can't see any information at all, until after they choose to "reveal" a card. Hinters take turns giving clues to their team of Guessers; after each hint, Guessers click on cards to reveal the card's true team. The goal is for each team to have all their own cards revealed first!</p>

  To view a complete list of rules, check out the <a href="http://czechgames.com/files/rules/codenames-rules-en.pdf" target="_blank">Rulebook PDF</a> by the (most excellent) game creators, Czech Games!

  <div class="row">
    <div class="col m6">
      <h5>What does this app provide?</h5>
      <p>This is designed to be played over video chat with a group of pals. To check out how it works, it's also easy to start a game by yourself and click around!</p>

      <p class="mbn">This application allows a group of players to:</p>

      <ul class="text-list mtn">
        <li>assemble teams</li>
        <li>start a game</li>
        <li>view a display of the cards, including all relevent information depending on whether the player is a "hinter" or a "guesser"</li>
        <li>click on cards to "guess" them, and mark them as revealed</li>
        <li>clear and reset games when finished playing!</li>
      </ul>
    </div>

    <div class="col m6">
      <h5>How to use</h5>

      <ol>
        <li>Head over to <a href="/play">the Play page</a> and choose a username for yourself.</li>
        <li>Select your team and role! Remember, Hinters will be able to see all the information about the cards, while Guessers will need to click a card first to reveal it.</li>
        <li>Once you've selected a team, click the button to indicate that you're ready.</li>
        <li>If there's already an existing game going, this will bring you straight into the game so you can join in!</li>
        <li>If there's not already a game running, you can click "Start the Game!" to create a new game for all the players.</li>
      </ol>

      <p>Once you're finished playing a certain game, any player can click the "Reset Game" button to bump all players back to the team creation screen. If you're ready to stop playing, you can click "Sign Out" to remove yourself from the player list!</p>
    </div>

    <p class="center-align"><em>Quick tip: if you're exploring this app by yourself, open it up in two different windows so that you can see the game develop from both a Hinter and Guesser's perspective!</em></p>

    <div class="center-align">
      <a class="waves-effect waves-light btn-large" href="/play">Play now!</a>
    </div>
  </div>
</div>
